services:
  simple-api:
    container_name: "simple-api"
    build:
      context: .
      dockerfile: SimpleWebApi\Dockerfile
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.25"
          memory: 256M
    ports:
      - 3001:8080
